<!DOCTYPE html>
<html class="no-js">
  <head>
    {% include meta.html %}
    {% include style.html %}
    {% include js_shives.html %}
    <!-- build:js({app,.tmp}) /js/head-scripts.js -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body>
    {% include browsehappy.html %}
    {% include container.html %}
    {% include scripts.html %}
    {% include googleanalytics.html %}
  </body>
</html>
