$h1-line-height: 32px
$sb-font-size: $h1-font-size*.8
.header
  a
    text-decoration: none
  .desc
    &:before
      content: ' >> '
      margin-left: $h1-line-height
  &.sandbox
    h1
      line-height: $h1-line-height*.8
      font-size: $sb-font-size
      margin: 0 0 2px
      &:after
        content: 'Sandbox'
        color: #868
        font-size: $sb-font-size*0.6
        line-height: $sb-font-size*0.6
        position: absolute
        top: $sb-font-size*.3
