@import base/var
@import lib/patchy-box
$p-margin: $p-font-size/2 $p-font-size/3 $p-font-size
$code-color: #f2f
$code-background: #eee
$text-color: #ddc

.post, .posts
  a
    text-decoration: none
    transition: color .8s ease
    &:hover
      transition: color .8s ease
      color: #f6fd84
      font-weight: bold
  *
    color: $text-color
  img[alt=palette]
    width: 200px
  h1
    font-size: $h1-font-size
  h2
    font-size: $h2-font-size
  h3
    font-size: $h3-font-size
  p
    margin: $p-margin
    text-align: justify
    > code
      border: 1px #ddd solid
      padding: 1px 4px
      color: $code-color
      background: $code-background
      border-radius: 3px
  pre.cb
    // codeblocks
    padding: 5px 10px
    margin: $p-margin
    +patch_box(40px)
