$h1-font-size: 30px
$h2-font-size: $h1-font-size*.85
$h3-font-size: $h2-font-size*.85
$h4-font-size: $h3-font-size

.post
  img[alt=palette]
    width: 200px
  h1
    font-size: $h1-font-size
  h2
    font-size: $h2-font-size
  h3
    font-size: $h3-font-size
  pre.cb
    // codeblocks
    background: #eee

