<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ page.title }}</title>
<meta name="description" content="Speed of light, Personal Blog, WebStudio">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow">
<meta name="author" content="speed-of-light">
<meta name="copyright" content="2014 to forever &copy;">
<meta name="keywords" content="Personal Blog, web-desing, freelancing, freelancer, website building">
<meta name="google" content="notranslate">
